.parent {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.parent h1 {
  align-self: center;
}
.parent p {
  line-height: 1.5;
  word-spacing: 3px;
  margin-bottom: 0;
}
.parent h2 {
  margin-bottom: 0;
}
.parent h3 {
  margin-left: 15px;
  margin-bottom: 0;
}
.parent ul {
  margin: 0;
}
.parent ul li {
  line-height: 1.5;
  word-spacing: 3px;
}
.keyFeatures p {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .parent {
    width: 90%;
  }
}
