.parent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  align-self: center;
}
.faqPoint h2 {
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .parent {
    width: 90%;
  }
}
